[submodule "themes/nederburg"]
	path = themes/nederburg
	url = https://github.com/appernetic/hugo-nederburg-theme.git
[submodule "themes/mediumish-gohugo-theme"]
	path = themes/mediumish-gohugo-theme
	url = git@github.com:platanus/mediumish-gohugo-theme.git
