[submodule "themes/nederburg"]
	path = themes/nederburg
	url = https://github.com/appernetic/hugo-nederburg-theme.git
[submodule "themes/mediumish"]
	path = themes/mediumish
	url = https://github.com/platanus/mediumish-gohugo-theme.git
