.buttonish {
  padding-left: 40%;
  margin: 10px;
}

.buttonish a {
  text-align: center;
  font-weight: 900;
  width: 300px;
  padding: 13px 15%;
  border: 0;
  border-radius: 8px;
  font-size: 18px;
  background-color: #3dade2;
  color: #fff;
  text-decoration: none;
}

.buttonish a:hover {
  background-color: #3fc6b2;
  color: #fff;
}

img + em {
  display: block;
  text-align: center;
  font-size: 0.8rem;
}

.navbar-brand.navbar-brand--fintual {
  display: flex;
  align-items: center;
}

.navbar-brand.navbar-brand--fintual img {
  margin-right: 0;
}

.navbar-brand--fintual .navbar-brand__edu {
  color: #aaa;
  font-size: 30px;
  font-weight: 300;
  margin-left: 5px;
  line-height: 32px;
}

.navbar-light .navbar-nav .nav-link.nav-link--return {
  font-weight: bold;
  color: #0e4466;
}

.navbar-light .navbar-nav .nav-link.nav-link--return:hover {
  opacity: 0.75;
}

.article-post {
  text-align: justify;
}

.wrapfooter .author-meta {
  margin-left: 10px;
}

.listfeaturedtag h2.card-title,
.listrecent h2.card-title {
  font-size: 1.3rem;
  font-weight: 400;
  line-height: 1.25;
}

.mainheading h1.posttitle {
  font-weight: 400;
  margin-bottom: 1rem;
}

.article-post .h1,
.article-post .h2,
.article-post .h3,
.article-post .h4,
.article-post .h5,
.article-post .h6,
.article-post h1,
.article-post h2,
.article-post h3,
.article-post h4,
.article-post h5,
.article-post h6 {
  font-weight: 400;
  margin-bottom: 1.5rem;
}

.mainheading .post-top-meta .author-description {
  margin-top: 0px;
}
.mainheading .post-top-meta {
  margin-bottom: 0px;
}
.card {
  border-radius: 12px !important;
  overflow: hidden !important;
}
.card:hover {
  box-shadow: 0 1px 18px 0 rgba(183, 183, 183, 0.2),
    0 6px 10px 0 rgba(183, 183, 183, 0.2),
    0 3px 5px -1px rgba(183, 183, 183, 0.2);
  cursor: pointer;
}
