.buttonish {
  display: flex;
  justify-content: center;
}

.buttonish a {
  text-align: center;
  width: 300px;
  height: 40px;
}

img + em {
  display: block;
  text-align: center;
  font-size: 0.8rem;
}

.navbar-nav {
  width: 100%;
  display: flex;
  justify-content: flex-start;
}
.nav-item--return {
  margin-left: auto;
}

.navbar-brand.navbar-brand--fintual {
  display: flex;
  align-items: center;
}

.navbar-brand.navbar-brand--fintual img {
  margin-right: 0;
}

.navbar-brand--fintual .navbar-brand__edu {
  color: #aaa;
  font-size: 30px;
  font-weight: 300;
  margin-left: 5px;
  line-height: 32px;
}

.navbar-light .navbar-nav .nav-link.nav-link--return {
  font-weight: bold;
  color: #0e4466;
}

.navbar-light .navbar-nav .nav-link.nav-link--return:hover {
  opacity: 0.75;
}

.article-post {
  text-align: justify;
}

.wrapfooter .author-meta {
  margin-left: 10px;
}

.listfeaturedtag h2.card-title,
.listrecent h2.card-title {
  font-size: 1.3rem;
  font-weight: 400;
  line-height: 1.25;
}

.mainheading h1.posttitle {
  font-weight: 400;
  margin-bottom: 1rem;
}

.article-post .h1,
.article-post .h2,
.article-post .h3,
.article-post .h4,
.article-post .h5,
.article-post .h6,
.article-post h1,
.article-post h2,
.article-post h3,
.article-post h4,
.article-post h5,
.article-post h6 {
  font-weight: 600;
  margin-top: 3rem;
  margin-bottom: 1.5rem;
  font-family: Poppins;
}

.mainheading .post-top-meta .author-description {
  margin-top: 0px;
}
.mainheading .post-top-meta {
  margin-bottom: 0px;
}

/* CARDS */
.card {
  border-radius: 12px !important;
  overflow: hidden !important;
}
.card:hover {
  box-shadow: 0 1px 18px 0 rgba(183, 183, 183, 0.2),
    0 6px 10px 0 rgba(183, 183, 183, 0.2),
    0 3px 5px -1px rgba(183, 183, 183, 0.2);
  cursor: pointer;
}

/* LINKS */
a {
  color: #005ad6;
}
a:hover {
  color: #005ad6;
  text-decoration: none;
}

.mainheading,
.posttitle {
  font-family: Poppins;
}
.article-post {
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: 18px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.5;
  letter-spacing: normal;
  color: #282828;
}

blockquote {
  border-left: 3px solid #005ad6;
}

.ftl-btn {
  border-radius: 2000px !important;
  padding: 0 24px !important;
  transition: box-shadow 0.2s ease !important;
  display: inline-flex !important;
  align-items: center !important;
  justify-content: center !important;
  text-align: center !important;
  border: 1px solid #005ad6 !important;
  background-color: #005ad6 !important;
  color: #fff !important;
  cursor: pointer !important;
  height: 100%;
  font-weight: 400 !important;
  font-family: Poppins;
}

.ftl-btn:hover {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4) !important;
  border-color: #003f96 !important;
  background-color: #003f96 !important;
  color: #fff !important;
  opacity: 1 !important;
}
.navbar {
  box-shadow: 0px 3px 13px -4px rgba(0, 0, 0, 0.55);
  transition: box-shadow 0.1s linear;
}
.no-shadow {
  border-bottom: none;
  box-shadow: none;
}




/* PRUEBA CARD */

.prueba-card {
  --spacing: 64px;
  --width: 500px;
  --height: 400px;
  --width-inside-card: calc(var(--width) - (2 * var(--spacing)));

  margin: var(--spacing) auto;
  height: var(--height);
  width: var(--width);
  padding: var(--spacing) var(--spacing);

  position: relative;

  box-shadow: 0 1px 18px 0 rgba(183, 183, 183, 0.2), 0 6px 10px 0 rgba(183, 183, 183, 0.2), 0 3px 5px -1px rgba(183, 183, 183, 0.2);
  border-radius: 12px;
  font-family: Poppins;

  background-image: url(/img/chocolate.png);
  background-repeat: no-repeat;
  background-position: right center;
  background-size: 191px 300px;
}

.prueba-card h4 {
  position: absolute;
  margin: 0;
  padding: 0;
}

.prueba-text {
  position: absolute;
  top: 112px;
  width: 250px;
  height: 138px;
  font-size: 16px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #757575;
}

.prueba-button {
  position: absolute;
  z-index: 200;
  bottom: var(--spacing);
  width: var(--width-inside-card);
  height: 44px;
  line-height: 44px;
}

@media (max-width: 1200px) {
  .prueba-card {
    --spacing: 24px;
    --height: 300px;
    --width: 328px;
    background-image: url(/img/chocolate-mobile.png);
  }

  .prueba-text {
    top: 75px;
    height: 115px;
    width: 170px;
  }

}