<!DOCTYPE html>
<html lang="{{.Site.LanguageCode}}">
 {{ partial "head" . }}
 <body>
   {{partial "google_tag_manager_body.html" . }}
   {{ partial "landing-nav" . }}
    <div class="site-wrapper">
      <div class="page allocation-page">

        <div class="container page-content footer-big__overlap">

            <div class="row">

              <div class="col-sm-9 col-sm-offset-1">
                <h1 class="simulator-page__title header__title">Si trabajas en {{.Params.company}} te queremos regalar Donuts</h1>
                <br>
                <p>Si eres de {{.Params.company}} te queremos invitar a probar Fintual (una manera simple de invertir bien) y mandaremos una caja de 12 donuts de regalo a los que lo hagan.</p>

                <p><br> <br> <img src="https://edu.fintual.com/uploads/donuts.jpg" style="width:100%;height: auto;"/> <br> <br> ¿La dura? sí, esto es lo que hay que hacer HOY {{.Params.fecha}}:</p>

                <p>1 ) que tú y dos compañeros de {{.Params.company}} sigan los pasos en <a href="{{.Params.link |  default "https://fintual.cl/?utm_source=edu&amp;utm_medium=landing&amp;utm_campaign=pizzas"}}">Fintual.cl</a> y lleguen a invertir cualquier monto, puede ser luca (esa plata es inversión de ustedes, las donuts son gratis, queremos que prueben nuestra página).</p>

                <p>2 ) que uno de ustedes mande un email a donuts@fintual.com con los nombres de los inscritos y la dirección para mandarlas.</p>

                <p>3 ) comer :)</p>

                <p><br></p>

                <p>Eso.</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    {{ partial "landing-footer" . }}
 </body>
</html>
