<!DOCTYPE html>
<html lang="{{.Site.LanguageCode}}">
 {{ partial "landing-head" . }}
 <body>
   {{partial "google_tag_manager_body.html" . }}
   {{ partial "landing-nav" . }}
    <div class="site-wrapper">
      <div class="page allocation-page">

        <div class="container page-content footer-big__overlap">

            <div class="row">

              <div class="col-sm-10 col-sm-offset-1">
                <h1 class="simulator-page__title text-center header__title">{{.Title}}</h1>
                <br>
                {{ .Content }}
              </div>
            </div>
          </div>
        </div>
      </div>
    {{ partial "landing-footer" . }}
 </body>
</html>
