<svg height="0" width="0" version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg"
  xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 48 48"
  style="enable-background:new 0 0 48 48;" xml:space="preserve">
  <style type="text/css">
    .discovery-planet--blue {
      fill: #005AD6;
    }

    .discovery-planet--black {
      fill: #282828;
    }
  </style>
  <circle class="discovery-planet discovery-planet--blue" cx="21.1" cy="26.9" r="21.1" />
  <circle class="discovery-planet discovery-planet--black" cx="35.8" cy="12.2" r="12.2" />
</svg>