<div class="navbar" role="navigation">
    <div class="container">

      <!-- Navbar-header -->
      <div class="navbar-header">
        <!-- Responsive menu button -->
        <button type="button" class="navbar-toggle navbar-custom__toggle" data-toggle="collapse" data-target=".navbar-collapse">
          <span class="sr-only">Expandir</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>

        <!-- LOGO -->
        <div class="navbar-brand navbar-custom__brand">
          <a href="https://fintual.com">
            <i class="zmdi zmdi-navigation"></i> <img src="https://pl-fintual-staging.herokuapp.com/assets/fintual.png" width="140"/>
          </a>
        </div>

      </div>

      <!-- menu -->
      <div class="navbar-collapse collapse" id="navbar-menu">

        <!-- Navbar right -->
        <ul class="nav navbar-nav navbar-right">
          <li class="navbar-nav__item" navbar-item="como-funciona"><a href="https://fintual.com/preguntas-frecuentes"> ¿Cómo funciona?</a></li>
          <li class="navbar-nav__item" navbar-item="numeros"><a href="https://fintual.com/numeros"> 1,19%</a></li>
          <li class="navbar-nav__item" navbar-item="equipo"><a href="https://fintual.com/equipo"> Equipo</a></li>
          <li class="navbar-nav__item" navbar-item="blog"><a href="http://blog.fintual.cl" target="_blank"> Blog</a></li>
        </ul>

      </div>
    </div>
</div>
