<style type="text/css">
  @import url("https://fonts.googleapis.com/css?family=Poppins&display=swap");
</style>

<style type="text/css">


  .cta-card h4 {
    margin: 0 0 10px 0;
    font-family: Poppins;
  }
  .cta-card p {
    margin: 0;
    padding: 0;
  }

  .cta-card--newsletter {

    width: 100%;

    margin: 15px 0 33px 0;
    padding-left: 16px;
    padding-right: 20px;
    padding-top: 23px;


    background: #ffffff;
    overflow: visible;
    box-shadow: 0 2px 1px -1px rgba(0, 0, 0, 0.2),
      0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 1px 3px 0 rgba(0, 0, 0, 0.12);
    border-radius: 12px;
      
    font-family: Poppins;
    font-size: 16px;
    text-align: left;
    line-height: 19.2px;
  }

  .cta-input--newsletter {
    width: 100%;
    height: 56px;
    background: #f3f4f8;
    border-radius: 12px;
    border: 0;
    margin: 10px 0 16px 0;
  }
  .wena {
      display: block;
      margin-bottom: 32px;
    }

  .cta-button--newsletter {
    margin-bottom: 32px;
    color: white;
    border: 0;
    width: 100%;
    height: 36px;
    background-image: linear-gradient(270deg, #3985ee 0%, #005ad6 100%);
    box-shadow: 0 2px 1px -1px rgba(0, 0, 0, 0.2),
      0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 1px 3px 0 rgba(0, 0, 0, 0.12);
    border-radius: 18px;
  }

  @media (max-width: 1200px)  {
    .wena {
      margin-bottom: 16px;
    }
    .cta-button--newsletter {
      margin-bottom: 16px;
  }
  }

</style>

<div class="cta-cards-container">
  <div class="cta-card cta-card--newsletter">
    <div
      id="mlb2-1527170"
      class="ml-form-embedContainer ml-subscribe-form ml-subscribe-form-1527170"
    >
      <div class="ml-form-align-center ">
        <div class="ml-form-embedWrapper embedForm">
          <div class="ml-form-embedBody ml-form-embedBodyDefault row-form">
            <div class="ml-form-embedContent" style=" ">
              <h4>¿Te gustó leernos?</h4>
              <p>
                Aprende de finanzas e inversiones, con ideas de negocio, tips
                para ahorrar y mucho más.
              </p>
            </div>
            <form
              class="ml-block-form"
              action="https://app.mailerlite.com/webforms/submit/h9b1k0"
              data-code="h9b1k0"
              method="post"
              target="_blank"
            >
              <div class="ml-form-formContent">
                <div class="ml-form-fieldRow ml-last-item">
                  <div
                    class="ml-field-group ml-field-email ml-validate-email ml-validate-required"
                  >
                    <input
                      type="email"
                      class="form-control cta-input--newsletter"
                      data-inputmask=""
                      name="fields[email]"
                      value=""
                      placeholder="Tu email"
                    />
                  </div>
                </div>
              </div>
              <style type="text/css">
                .ml-form-recaptcha {
                  margin-bottom: 20px;
                  float: left;
                }

                .ml-form-recaptcha.ml-error iframe {
                  border: solid 1px #ff0000;
                }

                @media screen and (max-width: 768px) {
                  .ml-form-recaptcha {
                    transform: scale(0.77);
                    -webkit-transform: scale(0.77);
                    transform-origin: 0 0;
                    -webkit-transform-origin: 0 0;
                  }
                }
              </style>
              <input type="hidden" name="ml-submit" value="1" />
              <div class="ml-form-embedSubmit">
                <button type="submit" class="primary cta-button--newsletter">
                  Subscribir
                </button>
                <button
                  disabled="disabled"
                  style="display: none;"
                  type="button"
                  class="loading"
                >
                  <div class="ml-form-embedSubmitLoad">
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                  </div>
                </button>
              </div>
            </form>
          </div>
          <div class="ml-form-successBody row-success" style="display: none">
            <div class="ml-form-successContent">
              <h4>Listoco 👌</h4>
              <p class="wena">Weeena!</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <script>
    function ml_webform_success_1527170() {
      var $ = ml_jQuery || jQuery;
      $(".ml-subscribe-form-1527170 .row-success").show();
      $(".ml-subscribe-form-1527170 .row-form").hide();
    }
  </script>
  <img
    src="https://track.mailerlite.com/webforms/o/1527170/h9b1k0?v253251d9ecd93b8e74c12a37f72e896f"
    width="1"
    height="1"
    style="max-width: 1px; max-height: 1px; visibility: hidden; padding: 0; margin: 0; display: block;"
    border="0"
  />
  <script
    src="https://static.mailerlite.com/js/w/webforms.min.js?v253251d9ecd93b8e74c12a37f72e896f"
    type="text/javascript"
  ></script>
</div>
