<style type="text/css">
  .prueba-card {
    --padding-x: 24px;
    --padding-y: 32px;

    --width-inside-card: calc(100% - (2 * var(--padding-x)));

    margin: 16px 0;

    position: relative;

    height: 250px;
    width: 100%;
    padding: var(--padding-y) var(--padding-x);

    background-image: linear-gradient(270deg, #3985ee 0%, #005ad6 100%);
    overflow: visible;
    box-shadow: 0 2px 1px -1px rgba(0, 0, 0, 0.2),
      0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 1px 3px 0 rgba(0, 0, 0, 0.12);
    border-radius: 12px;

    color: white;
    font-family: Poppins;
    font-size: 16px;
    text-align: left;
    line-height: 19.2px;
  }

  .prueba-card h4 {
    position: absolute;
    margin: 0;
    padding: 0;

  }

  .prueba-text {
    display: block;
    position: absolute;
    width: var(--width-inside-card);
    top: calc(36px + var(--padding-y));
    margin: 0;
    padding-right: 33%;
  }

  .prueba-button {
    display: block;
    position: absolute;
    bottom: var(--padding-y);
    z-index: 200;

    width: var(--width-inside-card);
    height: 36px;

    text-align: center;
    line-height: 36px;

    border-radius: 18px;
    border: 1px solid white;
    box-shadow: 0 2px 1px -1px rgba(0, 0, 0, 0.2),
      0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 1px 3px 0 rgba(0, 0, 0, 0.12);

    background-color: transparent;
    color: white;
  }

  .prueba-button:hover {
    background-image: linear-gradient(white, white);
    background-color: white;
    color: #003f96;
  }

  .prueba-coin {
    display: block;
    position: absolute;
    z-index: 100;
    top: 0px;
    left: 425px;
    width: 260px;
    height: 170px;
    background-position-y: -10px;
    background-repeat: no-repeat;
  }

  @media (max-width: 1200px) {
    .prueba-card {
      --padding-y: 24px;
      --padding-x: 16px;
      height: 310px;
    }

    .prueba-button:active {
      color: #3985ee;
      background-image: linear-gradient(white, white);
      background-color: white;
    }

    .prueba-text {
      padding-right: 0;
    }

    .prueba-coin {
      top: 95px;
      left: calc((var(--width-inside-card) / 2) - 130px)
    }

  }


  .preloaded,
  .preloaded-container {
    visibility: hidden;
  }
</style>

<div>

  <div class="prueba-card">
    <h4>{{ .Get "card_title" | default "Prueba Fintual" }}</h4>

    <p class="prueba-text">{{ .Inner }}</p>

    <div class="prueba-coin" id="prueba-coin"></div>
    <a href="https://fintual.mx/?utm_source=edu.fintual.mx&utm_content={{ .Get "utmcontent" }}" class="prueba-coin"></a>

    <a class="prueba-button"
      href="https://fintual.mx/?utm_source=edu.fintual.mx&utm_content={{ .Get "utmcontent" }}">{{ .Get "card_button" | default "Empezar" }}</a>

  </div>

</div>

</div>


<div class="preloaded-container">

  <img src="data:image/png;base64,R0lGODlhAQABAAD/ACwAAAAAAQABAAACADs="
    data-src="{{ "/img/cta-frames/untitled.1.png" | urlize |relURL }}" class="preloaded" />
  <img src="data:image/png;base64,R0lGODlhAQABAAD/ACwAAAAAAQABAAACADs="
    data-src="{{ "/img/cta-frames/untitled.2.png" | urlize |relURL }}" class="preloaded" />
  <img src="data:image/png;base64,R0lGODlhAQABAAD/ACwAAAAAAQABAAACADs="
    data-src="{{ "/img/cta-frames/untitled.3.png" | urlize |relURL }}" class="preloaded" />
  <img src="data:image/png;base64,R0lGODlhAQABAAD/ACwAAAAAAQABAAACADs="
    data-src="{{ "/img/cta-frames/untitled.4.png" | urlize |relURL }}" class="preloaded" />
  <img src="data:image/png;base64,R0lGODlhAQABAAD/ACwAAAAAAQABAAACADs="
    data-src="{{ "/img/cta-frames/untitled.5.png" | urlize |relURL }}" class="preloaded" />
  <img src="data:image/png;base64,R0lGODlhAQABAAD/ACwAAAAAAQABAAACADs="
    data-src="{{ "/img/cta-frames/untitled.6.png" | urlize |relURL }}" class="preloaded" />
  <img src="data:image/png;base64,R0lGODlhAQABAAD/ACwAAAAAAQABAAACADs="
    data-src="{{ "/img/cta-frames/untitled.7.png" | urlize |relURL }}" class="preloaded" />
  <img src="data:image/png;base64,R0lGODlhAQABAAD/ACwAAAAAAQABAAACADs="
    data-src="{{ "/img/cta-frames/untitled.8.png" | urlize |relURL }}" class="preloaded" />
  <img src="data:image/png;base64,R0lGODlhAQABAAD/ACwAAAAAAQABAAACADs="
    data-src="{{ "/img/cta-frames/untitled.9.png" | urlize |relURL }}" class="preloaded" />
  <img src="data:image/png;base64,R0lGODlhAQABAAD/ACwAAAAAAQABAAACADs="
    data-src="{{ "/img/cta-frames/untitled.10.png" | urlize |relURL }}" class="preloaded" />
  <img src="data:image/png;base64,R0lGODlhAQABAAD/ACwAAAAAAQABAAACADs="
    data-src="{{ "/img/cta-frames/untitled.11.png" | urlize |relURL }}" class="preloaded" />
  <img src="data:image/png;base64,R0lGODlhAQABAAD/ACwAAAAAAQABAAACADs="
    data-src="{{ "/img/cta-frames/untitled.12.png" | urlize |relURL }}" class="preloaded" />
  <img src="data:image/png;base64,R0lGODlhAQABAAD/ACwAAAAAAQABAAACADs="
    data-src="{{ "/img/cta-frames/untitled.13.png" | urlize |relURL }}" class="preloaded" />
  <img src="data:image/png;base64,R0lGODlhAQABAAD/ACwAAAAAAQABAAACADs="
    data-src="{{ "/img/cta-frames/untitled.14.png" | urlize |relURL }}" class="preloaded" />
  <img src="data:image/png;base64,R0lGODlhAQABAAD/ACwAAAAAAQABAAACADs="
    data-src="{{ "/img/cta-frames/untitled.15.png" | urlize |relURL }}" class="preloaded" />
  <img src="data:image/png;base64,R0lGODlhAQABAAD/ACwAAAAAAQABAAACADs="
    data-src="{{ "/img/cta-frames/untitled.16.png" | urlize |relURL }}" class="preloaded" />
  <img src="data:image/png;base64,R0lGODlhAQABAAD/ACwAAAAAAQABAAACADs="
    data-src="{{ "/img/cta-frames/untitled.17.png" | urlize |relURL }}" class="preloaded" />
  <img src="data:image/png;base64,R0lGODlhAQABAAD/ACwAAAAAAQABAAACADs="
    data-src="{{ "/img/cta-frames/untitled.18.png" | urlize |relURL }}" class="preloaded" />
  <img src="data:image/png;base64,R0lGODlhAQABAAD/ACwAAAAAAQABAAACADs="
    data-src="{{ "/img/cta-frames/untitled.19.png" | urlize |relURL }}" class="preloaded" />
  <img src="data:image/png;base64,R0lGODlhAQABAAD/ACwAAAAAAQABAAACADs="
    data-src="{{ "/img/cta-frames/untitled.20.png" | urlize |relURL }}" class="preloaded" />
  <img src="data:image/png;base64,R0lGODlhAQABAAD/ACwAAAAAAQABAAACADs="
    data-src="{{ "/img/cta-frames/untitled.21.png" | urlize |relURL }}" class="preloaded" />
  <img src="data:image/png;base64,R0lGODlhAQABAAD/ACwAAAAAAQABAAACADs="
    data-src="{{ "/img/cta-frames/untitled.22.png" | urlize |relURL }}" class="preloaded" />
  <img src="data:image/png;base64,R0lGODlhAQABAAD/ACwAAAAAAQABAAACADs="
    data-src="{{ "/img/cta-frames/untitled.23.png" | urlize |relURL }}" class="preloaded" />
  <img src="data:image/png;base64,R0lGODlhAQABAAD/ACwAAAAAAQABAAACADs="
    data-src="{{ "/img/cta-frames/untitled.24.png" | urlize |relURL }}" class="preloaded" />
  <img src="data:image/png;base64,R0lGODlhAQABAAD/ACwAAAAAAQABAAACADs="
    data-src="{{ "/img/cta-frames/untitled.25.png" | urlize |relURL }}" class="preloaded" />
  <img src="data:image/png;base64,R0lGODlhAQABAAD/ACwAAAAAAQABAAACADs="
    data-src="{{ "/img/cta-frames/untitled.26.png" | urlize |relURL }}" class="preloaded" />
  <img src="data:image/png;base64,R0lGODlhAQABAAD/ACwAAAAAAQABAAACADs="
    data-src="{{ "/img/cta-frames/untitled.27.png" | urlize |relURL }}" class="preloaded" />
  <img src="data:image/png;base64,R0lGODlhAQABAAD/ACwAAAAAAQABAAACADs="
    data-src="{{ "/img/cta-frames/untitled.28.png" | urlize |relURL }}" class="preloaded" />
  <img src="data:image/png;base64,R0lGODlhAQABAAD/ACwAAAAAAQABAAACADs="
    data-src="{{ "/img/cta-frames/untitled.29.png" | urlize |relURL }}" class="preloaded" />
  <img src="data:image/png;base64,R0lGODlhAQABAAD/ACwAAAAAAQABAAACADs="
    data-src="{{ "/img/cta-frames/untitled.30.png" | urlize |relURL }}" class="preloaded" />
  <img src="data:image/png;base64,R0lGODlhAQABAAD/ACwAAAAAAQABAAACADs="
    data-src="{{ "/img/cta-frames/untitled.31.png" | urlize |relURL }}" class="preloaded" />


</div>



<script>

  // Cambiar aqui no mas //
  const speed = 0.7
  const totalFrames = 31
  /////////////////////////

  const threshold = Math.round((1 / speed), 20)
  const maxTicks = threshold * totalFrames
  const step = 100
  var tick = 1
  var lastScrollTop = 0;

  function incrementTick() {
    if (tick / threshold < maxTicks) {
      tick++
    } else {
      tick = 1
    }
  }

  function decrementTick() {
    if (tick / threshold > 1) {
      tick--
    } else {
      tick = maxTicks
    }
  }

  function isScrollingDown() {
    let st = window.pageYOffset || document.documentElement.scrollTop
    let result = Boolean
    if (st > lastScrollTop) {
      result = true
    } else {
      result = false
    }
    lastScrollTop = st <= 0 ? 0 : st;
    return result
  }

  function spinTheCoin() {
    isScrollingDown() ? incrementTick() : decrementTick()
    changeBg()
  }

  function changeBg() {
    let base_url = '{{ "/img/cta-frames/untitled.x.png" | urlize | relURL }}'
    let part = base_url.split('x')
    let full_url = part[0] + Math.round(tick / threshold, 0) + part[1]
    document.getElementById("prueba-coin").style.backgroundImage = `url('${full_url}')`
  }




  function lazyLoadImgs() {
    var imgDefer = document.getElementsByTagName('preloaded');
    for (var i = 0; i < imgDefer.length; i++) {
      if (imgDefer[i].getAttribute('data-src')) {
        imgDefer[i].setAttribute('src', imgDefer[i].getAttribute('data-src'));
      }
    }
  }

  window.onload = lazyLoadImgs();


</script>