<script>
    var firebaseConfig = {
      apiKey: "AIzaSyDYUjVfUPYBf6f4fN8Vc2kY5SiYOSxk9iY",
      authDomain: "medium-clap-to-edu.firebaseapp.com",
      databaseURL: "https://medium-clap-to-edu.firebaseio.com",
      projectId: "medium-clap-to-edu",
      storageBucket: "medium-clap-to-edu.appspot.com",
      messagingSenderId: "976569065268",
      appId: "1:976569065268:web:d1d5dbb006518c06d74f61",
      measurementId: "G-WETNQTRYB9"
    };

    firebase.initializeApp(firebaseConfig);
    firebase.analytics();
  </script>

  <script src="{{ "js/clap.js" | absURL }}"></script>
