<script>
  var firebaseConfig = {
    apiKey: "AIzaSyDiCpuQ3E0buhvX4EF_24bRl0D0H_ripmg",
    authDomain: "numeric-citron-252119.firebaseapp.com",
    databaseURL: "https://numeric-citron-252119.firebaseio.com",
    projectId: "numeric-citron-252119",
    storageBucket: "numeric-citron-252119.appspot.com",
    messagingSenderId: "20719183767",
    appId: "1:20719183767:web:f22be2bb37d2e1d5a386d2",
    measurementId: "G-4G4EDF2G06"
  };

    firebase.initializeApp(firebaseConfig);
    firebase.analytics();
</script>

  <script src="{{ "js/clap.js" | absURL }}"></script>
