<!-- Begin Menu Navigation
================================================== -->
<nav class="navbar navbar-expand-lg navbar-light bg-white fixed-top mediumnavigation nav-down">
    <div class="container pr-0">
        <!-- Begin Logo -->
        <a class="navbar-brand navbar-brand--fintual" href="{{ .Site.BaseURL }}/">

            {{ with .Site.Params.logo }}
            <img src="{{ . | urlize | relURL }}" alt="logo">
            <span class="navbar-brand__edu">Edu</span>
            {{ else }}
            <span style="font-family:Righteous;">{{.Site.Title}}</span>
            {{ end }}
        </a>
        <!-- End Logo -->

        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarMediumish" aria-controls="navbarSupportedContent"
            aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <!-- Begin Menu -->
        <div class="collapse navbar-collapse" id="navbarMediumish">
            {{ $currentPage := . }}
            <ul class="navbar-nav ml-auto">
              {{ range $name, $taxonomy := .Site.Taxonomies.categories }}
                <li class="nav-item">
                    <a class="nav-link" href="{{ "/categories/" | relLangURL }}{{ $name | urlize }}">{{ $name }}</a>
                </li>
              {{ end }}
              <li class="nav-item">
                  <a class="nav-link nav-link--return" href="https://fintual.cl">ir a fintual</a>
              </li>
            </ul>
        </div>
        <!-- End Menu -->
    </div>
</nav>
<!-- End Navigation
================================================== -->
